.frame-desktop2-container {
  min-height: 100vh;
}
.frame-desktop2-frame-desktop2 {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame-desktop2-text {
  top: 220px;
  left: 465px;
  color: rgba(131, 98, 202, 1);
  height: auto;
  position: absolute;
  font-size: 250px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-desktop2-home {
  top: 54px;
  left: 617px;
  width: 109px;
  height: 41px;
  display: flex;
  padding: 5px 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(34, 8, 69, 0);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.frame-desktop2-text05 {
  color: rgba(11, 19, 94, 1);
  height: auto;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gotham;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-desktop2-home1 {
  top: 54px;
  left: 789px;
  width: 178px;
  height: 41px;
  display: flex;
  padding: 5px 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(34, 8, 69, 0);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.frame-desktop2-text07 {
  color: rgba(11, 19, 94, 1);
  height: auto;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gotham;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-desktop2-home2 {
  top: 54px;
  left: 1003px;
  width: 134px;
  height: 41px;
  display: flex;
  padding: 5px 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(34, 8, 69, 0);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.frame-desktop2-text09 {
  color: rgba(11, 19, 94, 1);
  height: auto;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gotham;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-desktop2-home3 {
  top: 54px;
  left: 1164px;
  width: 100px;
  height: 41px;
  display: flex;
  padding: 5px 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(34, 8, 69, 0);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.frame-desktop2-text11 {
  color: rgba(11, 19, 94, 1);
  height: auto;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gotham;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-desktop2-rectangle {
  top: 175px;
  left: 832.93603515625px;
  width: 1040px;
  height: 780px;
  position: absolute;
  border-color: transparent;
}
